.settings-button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 60px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=3c331c185dbbc2743ab91430a1fe307f&type=3#NotInter-Regular");
}

.settings-button:hover:enabled {
    background-color: rgba(255, 245, 255, 0.1);
}
